In [1]:
import input
import numpy as np
import pandas

dct = input.ReadStataDct('GSS.dct')
gss = dct.ReadFixedWidth('GSS.dat')
gss.head()

   year  id_  sibs  childs
0  1990    1     2       0
1  1990    2     1       0
2  1990    3     4       0
3  1990    4     1       0
4  1990    5     4       6

# Data Cleaning

- Replace all siblings values greater than 8 with 8. This is what is already done to the childs variable by gss.
- Replace 9 and -1 with np.nan values in their respective columns. This is done because we don't want to use those values as they signify repondents who did not answer that question.
- I might just remove all 8 values if I end up computing some kind of multiplier value for all number of siblings.

In [2]:
gss['sibs'].values[gss['sibs'].values > 8] = 8
gss['sibs'].replace([-1], np.nan, inplace=True)
gss['childs'].replace([9], np.nan, inplace=True)
gss.childs.value_counts()

0.0    11080
2.0    10335
1.0     6405
3.0     6296
4.0     3064
5.0     1283
6.0      628
8.0      384
7.0      333
Name: childs, dtype: int64